name: Docker Base Image CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: ['20', '22.21.1', '24']
    steps:
      - uses: actions/checkout@v4
        with:
          repository: n8n-io/n8n

      - name: Setup Build
        run: |
          sed -i -E 's|FROM dhi.io/(.*)-dev|FROM \1|' docker/images/n8n-base/Dockerfile
          sed -i 's@FROM node@FROM ghcr.io/loong64/node@g' docker/images/n8n-base/Dockerfile
          # sed -i 's/=[0-9][0-9a-zA-Z._-]*-r[0-9]\+//g' docker/images/n8n-base/Dockerfile

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/images/n8n-base/Dockerfile
          build-args: |
            NODE_VERSION=${{ matrix.node_version }}
          platforms: linux/loong64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/n8nio/base:${{ matrix.node_version }}-${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/n8nio/base:${{ matrix.node_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max